<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Treemium</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Owlcarousel -->
    <link rel="stylesheet" href="plugins/owlcarousel/css/owl.carousel.min.css">
    <!-- Venobox -->
    <link rel="stylesheet" href="plugins/venobox/venobox.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>




<div class="main-wrapper">
  <div class="navigation-3 landing_page fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light px-0 justify-content-between flex-column flex-sm-row">
          <a class="navbar-brand d-flex align-items-start mt-2 mb-2 mb-sm-0" href="landing.html">
            <img src="images/logo.png" alt="" class="mb-2">
            <span class=" fw-bold  ms-2">Treemium</span>
          </a>

          <div class="dashboard_log">
            <div class="d-flex align-items-center">
              <div class="btn-group header_auth">
                <a href="./signin.html" class="btn btn-success  mx-2">Sign In</a>
                <a href="./signup.html" class="btn btn-outline-primary  mx-2">Sign Up</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
  <div class="content-body">
  <!--===================== Page title Start =====================-->
<div class="page_title pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 d-sm-flex justify-content-between align-items-center">
        <div class="page_title-content mb-2 mb-sm-0">
          <p>Last updated: October 21, 2020</p>
        </div>
        <ul class="breadcrumbs list-unstyle">
          <li class="active"><a href="about.html">About Us</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!--===================== Page title End =====================-->
<!--===================== About Start =====================-->
  <div class="about py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="about_content">
            <div class="our_vision">
              <h3>OUR VISION</h3>
              <p>The growth of virtual items and microtransactions have been enormous over the last
                few years. The prices for these items or microtransactions are often twice the price
                of the game itself. We understand people want these
                exclusive in-game rewards, but we also see how they are too expensive for many.
                Therefore we came up with the idea, Treemium .
              </p>
              <p>We started providing a service directly targeted towards the game Counter-Strike:
                Global Offensive, however, we quickly came to realize this had the potential to
                reach a much broader audience. Now we have expanded our service
                for not only gamers, but also others that want gift cards to shop at their favorite
                place, Treemium ocurrencies to start their Treemium o adventure, or just direct PayPal cash
                to spend on whatever you want.</p>
              <p>We’re excited for what the future has to bring, and we will continuously be pushing
                out updates and new features to keep Treemium the leading platform in the GPT
                industry
              </p>
              <p>The growth of virtual items and microtransactions have been enormous over the last
                few years. The prices for these items or microtransactions are often twice the price
                of the game itself. We understand people want these
                exclusive in-game rewards, but we also see how they are too expensive for many.
                Therefore we came up with the idea, Treemium .
              </p>
              <p>The growth of virtual items and microtransactions have been enormous over the last
                few years. The prices for these items or microtransactions are often twice the price
                of the game itself. We understand people want these
                exclusive in-game rewards, but we also see how they are too expensive for many.
                Therefore we came up with the idea, Treemium .
              </p>
              <p>The growth of virtual items and microtransactions have been enormous over the last
                few years. The prices for these items or microtransactions are often twice the price
                of the game itself. We understand people want these
                exclusive in-game rewards, but we also see how they are too expensive for many.
                Therefore we came up with the idea, Treemium .
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================== About End =====================-->
</div>
  <!--===================== Footer Start =====================-->
<div class="footer footer-2">
  <div class="container">
    <div class="row">
      <div class="d-md-flex justify-content-between align-items-center">
        <div class="footer-link mb-3 mb-md-0">
          <a href="#" class="m_logo"><img src="images/logo.png" alt=""></a>
          <a href="about.html">About</a>
          <a href="privacy-policy.html">Privacy Policy</a>
          <a href="term-condition.html">Term & Service</a>
        </div>
        <div class="social--icons text-center">
          <a href="https://www.youtube.com/channel/UChN1goECpg64jlUxSzySiNg?view_as=subscriber" target="_blank"><i
            class="fab fa-youtube"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/quixlab" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="copy_right mt-4">
          <p class="mb-0">&copy; <script>document.write(new Date().getFullYear());</script> <a href="https://themeforest.net/user/quixlab" target="_blank">Quixlab</a>All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===================== Footer End =====================-->
  </div>
<!-- Jquery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Scripts -->
<script src="js/scripts.js"></script>
</body>
</html>



