<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Treemium</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Owlcarousel -->
    <link rel="stylesheet" href="plugins/owlcarousel/css/owl.carousel.min.css">
    <!-- Venobox -->
    <link rel="stylesheet" href="plugins/venobox/venobox.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>




    <div class="main-wrapper">
        <!--===================== Authentication Start =====================-->
        <div class="authentication">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-8 col-xl-5">
                        <div class="mini-logo text-center mb-5">
                            <a href="landing.html"><img src="images/logo.png" alt=""></a>
                        </div>
                        <div class="auth-form card">
                            <div class="card-body">
                                <a class="page-back text-muted" href="signin.html">
                                    <span><i class="fa fa-angle-left"></i></span> Back</a>
                                <h3 class="text-center">OTP Verification</h3>
                                <p class="text-center mb-5">We will send one time code on this number</p>
                                <form action="otp-2.html">
                                    <div class="form-group">
                                        <label>Your phone number</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ps-4 pe-4"><i class="fas fa-phone-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="+1 12365480">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-success w-100">Send</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3 d-flex justify-content-between">
                                    <p>Don't get code? <a class="text-primary" href="otp-1.html">Resend</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== Authentication End =====================-->
    </div>
<!-- Jquery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Scripts -->
<script src="js/scripts.js"></script>
</body>
</html>

