{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<body style="background: #000;">

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login"  >
    <div class="space16"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-angle-right"></i> <span>New invoice</span></a>
                </div>
                <div class="space50"></div>

                {% if messages %}
                    {% for message in messages %}

                    <div id="notify" class="alert alert-info">{{ message }}</div>
                    <script>
                        // Get the element you want to disappear
                        const element = document.getElementById('notify');

                        // Set a timeout to hide the element after 3 seconds
                        setTimeout(function() {
                        element.style.display = 'none';
                        }, 5000);
                    </script>

                    {% endfor %}
                {% endif %}


                <form action="{% url 'save_invoice' %}" method="post">
                    {% csrf_token %}
                    <div class="login-boxarea heading6">

                        <p style="color: #000;">Create a payment invoice.</p>
                        <hr>

                        <div class="space16"></div>
                        <div class="input-area">
                            <p style="font-size: 12px;">Select payment link to receive payment with:</p>
                            <select name="payment_link" id="" class="form-control">
                                {% for link in payment_links %}
                                    {% if link.link_id == link_id %}
                                        <option value="{{ link.link_id }}" selected>{{ link.tag_name }}</option>
                                    {% else %}
                                        <option value="{{ link.link_id }}">{{ link.tag_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="space16"></div>
                        <label for="recipient_email" style="font-size: 12px;">Recipient Email</label>
                        <input class="form-control" type="email" name="recipient_email" placeholder="Enter Recipient email address">

                        <div class="space16"></div>
                        <label for="amount" style="font-size: 12px;">Amount</label>
                        <input class="form-control" type="number" name="amount" placeholder="Enter Amount">

                        <div class="space16"></div>
                        <label for="item" style="font-size: 12px;">Item Description</label>
                        <textarea class="form-control" type="text" name="item" placeholder="Enter Item Description"></textarea>

                        <div class="space16"></div>
                        <label for="item_quantity" style="font-size: 12px;">Item Quantity</label>
                        <input class="form-control" type="number" name="item_quantity" placeholder="Enter Item Quantity">

                        <div class="space16"></div>
                        <label for="due_date" style="font-size: 12px;">Due Date"</label>
                        <input class="form-control" type="date" name="due_date" placeholder="Due Date">
                        
                        <div class="space32"></div>
                        <div class="input-area">
                            <button type="submit" class="header-btn2">Create Invoice</button>
                        </div>
                        <div class="space32"></div>

                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}