{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login"  >
    <!-- <div class="space16"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <!-- <div class="about-welcome-header text-center heading3">
                    <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-angle-right"></i> <span>Create store</span></a>
                </div> -->
                <div class="space50"></div>
                <form id="payment-form" action="{% url 'save_payment_link' %}" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    <div class="login-boxarea heading6">

                        <h3 class="text-center" style="font-weight: 400; font-size: 18px;">Create your store</h3>
                        <hr>
                        <p style="font-size: 14px;">Add your store logo: (optional)</p>
                        <input type="file" class="form-control" name="image">

                        <hr>

                        <p style="font-size: 14px;">What name so you want your store to be called:</p>
                        <input type="text" class="form-control" name="tag_name" placeholder="store name" required>

                        <hr>

                        <p style="font-size: 14px;">What type of service do you offer:</p>
                        <textarea class="form-control" style="padding: 5px;" type="text" name="link_description" cols="50" required></textarea>

                        <hr>

                        <p style="font-size: 14px;">Enter your website url ( e.g: expample.com ):</p>
                        <input type="text" class="form-control" name="link_url" placeholder="website link" required>

                        <!-- <hr>

                        <p style="font-size: 14px;">Add web callback link (optional)</p>
                        <input type="text" class="form-control" name="callback_url" placeholder="callback link"> -->

                        <hr>

                        <div class="space16"></div>

                        <div class="input-area">
                            <button type="submit" class="header-btn2" id="processing"> submit </button>
                        </div>

                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


<script>
    // Get all checkboxes
    var checkboxes = document.querySelectorAll('.crypto-checkbox');

    // Listen for changes
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            // Get the corresponding wallet input field
            var walletInput = document.getElementById('wallet-input-' + checkbox.id);

            // If this checkbox is checked, show the wallet input field
            if (checkbox.checked) {
                walletInput.style.display = 'block';
            } else {
                // Otherwise, hide it
                walletInput.style.display = 'none';
            }
        });
    });

</script>


<!--===== WELCOME ENDS =======-->


{% endblock %}