{% extends 'home/main.html' %}

{% load static %}

{% block content %}


{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->
<!-- <div class="about-welcome-section-area about2" style="background-image: url(/static/onboarding/assets/images/background/header2-bg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <h1>Pricing Plan</h1>
                    <div class="space16"></div>
                    <a href="index.html">Home <i class="fa-solid fa-angle-right"></i> <span>Pricing Plan</span></a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--===== WELCOME ENDS =======-->


<!--===== PRICING PLAN AREA STARTS =======-->
<div class="pricing-paln-section-area pricing2 sp6 bg-none">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="pricing-header text-center heading6">
            <div class="space16"></div>
            <div class="space16"></div>
            <div class="space16"></div>
            <h3 class="text-white">Welcome to your dashboard</h3>
            <div class="space16"></div>
            <p class="text-white">Account ID: {{ account_id }}</p>
            
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="pricing-plans">
        <div class="container">
          

          <div class="tab-content">
              <div id="monthly" style="display: block;">
                <div class="row">

                  <!-- <div class="col"></div> -->
                  
                  <div class="col-md-4">
                    <div class="price-box">
                      <div class="hadding">
                        <div class="pricing-area">
                          <h3>Payment Links ({{ payment_links|length }})</h3>
                          <div class="space16"></div>
                          <p>Recive crypto payments through digital portals that aupdates automatically once a payment is dictated</p>
                          <div class="space24"></div>
                          <div>
                            <a href="{% url 'show_all_payment_links' %}" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">view </a>

                            <a href="{% url 'create_payment_link' %}" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">create </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  
                  <div class="col-md-4">
                    <div class="price-box">
                      <div class="hadding">
                        <div class="pricing-area">
                          <h3>Create Invoices ({{ invoices|length }})</h3>
                          <div class="space16"></div>
                          <p>Recive crypto payments through digital invoices that aupdates automatically once a payment is dictated</p>
                          <div class="space24"></div>
                          <div>
                            <a href="{% url 'show_all_invoices' %}" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">view </a>

                            <a href="{% url 'create_invoice' %}" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">Create </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="price-box">
                      <div class="hadding">
                        <div class="pricing-area">
                          <h3>Transactions ({{ transactions|length }})</h3>
                          <div class="space16"></div>
                          <p>Recive crypto payments on yur websites through digital portal that aupdates automatically once a payment is dictated</p>
                          <div class="space24"></div>
                          <div>
                            <a href="{% url 'show_transactions' %}" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">
                              view
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col"></div> -->

                                   

                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== PRICING PLAN AREA ENDS =======-->

  {% endblock %}