{% extends 'home/main.html' %}

{% load static %}

{% block content %}


{% include 'home/navbar.html' %}

{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<body style="background: #000;">


<style>
	.card-header {
		background-color: #f8f9fa;
		font-weight: bold;
	}

	.card-body {
		padding: 1.25rem;
	}

	.store-card {
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	.store-card:hover {
		background-color: #f8f9fa;
	}
</style>


<!--===== PRICING PLAN AREA STARTS =======-->
<div class="pricing-paln-section-area pricing2 sp6 bg-none">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 m-auto">
				<div class="pricing-header text-center heading6">
					<div class="space16"></div>
					<div class="space16"></div>
					<p class="text-white">Dashboard</p>

				</div>
			</div>
		</div>

		{% if messages %}
			{% for message in messages %}

			<center>
				<p id="notify" class="alert alert-info" style="font-size: 12px;">{{ message }}</p>
			</center>
			
			<script>
				// Get the element you want to disappear
				const element = document.getElementById('notify');

				// Set a timeout to hide the element after 3 seconds
				setTimeout(function() {
				element.style.display = 'none';
				}, 5000);
			</script>

			{% endfor %}
		{% endif %}


		<!-- <div class="space60"></div> -->
		<div class="pricing-plans">
			<div class="container">

				<div class="tab-content">
					<div class="row my-4">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header" style="font-size: 20px;">Net Earnings </div>
								<div class="card-body d-flex justify-content-between align-items-center">
									<span style="font-size: 20px; font-weight: bold;">
										${{ total_successful_transactions }}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<p class="text-center" style="color: #818080; font-size: 16px;">---- stores ----</p>
				<div class="space16"></div>

				<div class="tab-content">

					<div class="row">

						{% for link in payment_links %}

						<div class="col-md-4">
							<div class="price-box">
								<div class="">
									<div class="pricing-area" style="padding: 20px; border-radius: 5px;">
										<!-- <span style="font-size: 16px;">ID: {{ link.link_id }}</span>
										<hr> -->
										<h3 style="font-size: 20px;">
											{% if link.link_logo %}
												<img src="{{link.link_logo.url}}" alt="" width="50px" height="50px" style="border-radius: 3px;">
											{% else %}
												<img src="{% static 'onboarding/assets/images/all-images/storefront_icon.webp' %}" alt="" width="50px" height="50px" style="border-radius: 3px;">
											{% endif %}

											{{ link.tag_name }}
										</h3>
										<div class="space16"></div>

										<p style="font-size: 16px;">Earnings: ${{ link.total_successful_transactions }}
										</p>

										<p style="font-size: 16px;">
											Coins: 
											{% if link.wallet_set.exists %}
												{% for wallet in link.wallet_set.all %}
													<span style="border: 2px solid #000; padding: 3px;">{{ wallet.crypto }}</span>
												{% endfor %}
											{% else %}
												<span style="color: #888;">Not added <span style="color: blue;"><a href="{% url 'edit_payment_wallets' link_id=link.link_id %}">(add coins)</a></span></span>
											{% endif %}
										</p>
										
										<hr>
										<div>
											<a href="{% url 'show_payment_link' link_id=link.link_id %}"
												style="font-size: 16px; color: #333; padding: 10px; border-radius: 5px; margin: 5px;">manage store
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						{% empty %}
						<div class="space16"></div>
						<div class="space16"></div>

						<div class="text-center">
							<p style="color: #fff; text-align: center; font-size: 16px;">You have no store yet.</p>
							<!-- <br>
                    			<a href="{% url 'create_payment_link' %}" target="_blank" class="header-btn1">Create link</a> -->
							<div class="space16"></div>
						</div>

						{% endfor %}

						<div class="text-center">
							<a href="{% url 'create_payment_link' %}" class="header-btn">create new store</a>
						</div>
						<div class="space16"></div>
						<div class="space16"></div>

					</div>

					<div class="space16"></div>
					<div class="space16"></div>

					<div class="container" style="background-color: #fff; border-radius: 3px; padding: 10px;">
						<div class="space16"></div>
						<h5 class="text-center">Transactions</h5>
						<div class="space16"></div>
						<div class="">

							{% if transactions %}

							<table class="table table-bordered table-striped" style="font-size: 14px;">
								<thead>
									<tr>
										<th>Amount</th>
										<th>Store</th>
										<th>Status</th>
										<th>Date</th>
										<!-- <th>Details</th> -->
									</tr>
								</thead>
								<tbody>
									{% for transaction in transactions %}

									<tr style="font-size: 12px;">
										<td>${{ transaction.amount }}</td>

										<td>{{ transaction.payment_link.tag_name }}</td>

										{% if transaction.status == 'successful' %}
										<td style="color: green;">✅</td>
										{% else %}
										<td style="color: red;">⏳</td>
										{% endif %}

										<td>{{ transaction.created_at|date:"d-m-Y g:i a" }}</td>

										<!-- {% if transaction.transaction_hash == None %}
											<td>link unavailable</td>
										{% else %}
											<td>
											<a href="{{ transaction.transaction_hash }}" target="_blank">view</a>
											</td>
										{% endif %} -->

									</tr>

									{% endfor %}
								</tbody>
							</table>
							{% else %}
							<div class="text-center">
								<p style="color: #000; text-align: center; font-size: 16px;">You haven't made any
									transactions yet.</p>
							</div>
							{% endif %}

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
<!--===== PRICING PLAN AREA ENDS =======-->

{% include 'home/chat_token.html' %}

{% endblock %}