{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <a href="{% url 'show_payment_link' payment_link.link_id %}"> {{ payment_link.tag_name }} <i class="fa-solid fa-angle-right"></i> <span>Edit</span></a>
                    <div class="space16"></div>
                    <!-- <h6 style="color: #fff; font-weight: 400;">Business: </h6> -->
                </div>
                <div class="space50"></div>

                <div class="login-boxarea heading6">
                    
                    <form method="POST" action="{% url 'update_payment_link' payment_link.link_id %}" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="text-center">
                            {% if payment_link.link_logo %}
                                <img src="{{payment_link.link_logo.url}}" alt="" width="50px" height="50px" style="border-radius: 3px; border: 2px solid #000;">
                            {% endif %}
                        </div>
                        <div class="space16"></div>
                        <div class="space16"></div>

                        <p style="font-size: 12px;">change your store logo:</p>
                        <input class="form-control" type="file" name="image">
                        <div class="space16"></div>

                        <p style="font-size: 12px;">store name:</p>
                        <input class="form-control" type="text" name="tag_name" placeholder="store name" value="{{ payment_link.tag_name }}">
                        
                        <div class="space16"></div>
                        <p style="font-size: 12px;">store description:</p>
                        <textarea class="form-control" style="padding: 5px;" type="text" name="link_description" cols="50">{{ payment_link.link_description }}</textarea>

                        <div class="space16"></div>
                        <p style="font-size: 12px;">website url ( e.g: expample.com ):</p>
                        <input class="form-control" type="text" name="link_url" placeholder="website link" value="{{ payment_link.link_url }}">

                        <div class="space16"></div>
                        <p style="font-size: 12px;">callback URL:</p>
                        <input class="form-control" type="text" name="callback_url" placeholder="store name" value="{{ payment_link.callback_url }}">
                       
                        <div class="space16"></div>
                        <div class="input-area">
                            <button type="submit" class="header-btn2">save changes</button>
                        </div>

                    </form>

                </div>
                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}