{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<!-- {% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %} -->

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <span class="text-white">Complete your purchase on <br> {{user_info.tag_name}}</span>
                </div>

                <div class="login-boxarea heading6">

                    <p class="text-center">Amount: {{transaction_details.amount}}</p>

                    <div class="text-center">
                        <img src="{{ user_info.qr_code_image }}" alt="QR Code">
                    </div>

                    <p class="text-center">Network: {{user_info.crypto}}</p>

                    <p class="text-center" style="font-size: 12px;">{{user_info.wallet}}</p>

                    <p class="text-center">Status: {{transaction_details.status}} ...</p>

                    <div class="text-center">
                        <img src="/static/onboarding/assets/images/icons/pending_icon.webp" alt="pending" width="30px">
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}