{% extends 'home/main.html' %}

{% load static %}

{% block content %}


{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->
<div class="welcome3-section-area" style="background-image: url(/static/onboarding/assets/images/background/hero-wallpaper.webp);  background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row align-items-center">

            

            <div class="col-lg-6">
                <div class="welcome3-header heading5">
                    <span class="seo" data-aos="fade-right" data-aos-duration="600"> Welcome to Digit-Pay </span>
                    <div class="space16"></div>
                    <h1 data-aos="fade-right" data-aos-duration="800" class="text-capitalize text-white">Accept Crypto Payments with Ease</h1>
                    <div class="space16"></div>
                    <p data-aos="fade-right" data-aos-duration="1000" class="text-white">Expand your customer base and streamline transactions with our secure crypto payment gateway.  Say goodbye to high transaction costs and slow processing times with crypto.</p>
                    <div class="space24"></div>
                    <div class="btn-area" data-aos="fade-right" data-aos-duration="1200">
                        <a href="{% url 'signup_page' %}" class="header-btn5">Get Started</a>
                        <!-- <a href="features.html" class="unlock">Unlock SEO Success</a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="welcome3-images">
                    <img src="{% static 'onboarding/assets/images/all-images/header3-img1.png' %}" alt="" data-aos="zoom-out" data-aos-duration="1000">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}
