{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<body style="background: #ffffff;">


<!--===== WELCOME STARTS =======-->
<div class="about-welcome-section-area login"  >
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                
                <div class="space50"></div>
                <div class="login-boxarea heading6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

                    <div class="space16"></div>
                    <div class="icons">
                        <img src="/static/onboarding/assets/images/icons/error-icon.png" alt="">
                    </div>

                    <div class="space32"></div>
                    <h2 class="text-center">Invalid POS link</h2>
                    <div class="space16"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->

{% include 'home/chat_token.html' %}

{% endblock %}