{% extends 'home/main.html' %}

{% load static %}

{% block content %}


<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url('/static/onboarding/assets/images/background/emailbg.png'); background-repeat: no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 m-auto">
              <div class="about-welcome-header text-center heading3">
                  <!-- <a href="index.html"><img src="/static/onboarding/assets/images/logo/logo4.png" alt="" class="logo4"></a>
                  <div class="space16"></div> -->

                  <!-- <a href="{% url 'homepage' %}"><b>bitwade.com</b></a>
                  <div class="space16"></div> -->
                  <a href="{% url 'homepage' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Login</span></a>
              </div>
              <div class="space50"></div>

              <form method="post">
                {% csrf_token %}
                
                <div class="login-boxarea heading6">
                    {{ form.non_field_errors }}
                    <h2>Welcome back</h2>
                    <div class="space16"></div>
                    <p>Please enter your details.</p>
                    <div class="space16"></div>
  
                    <div class="input-area">
                        {{ form.username }}
                        {{ form.username.errors }}
                        <div class="space16"></div>
                        <!-- <input type="email" placeholder="Email Address"> -->
                    </div>  
  
                    <div class="input-area">
                        {{ form.password }}
                        {{ form.password.errors }}
                        <div class="space16"></div>
                        <!-- <input type="text" placeholder="Enter Your Password"> -->
                    </div>
  
                    <div class="input-area">
                        <button type="submit" class="header-btn2">Login</button>
                        <!-- <a href="signup.html" class="header-btn2">Creat Your Account</a> -->
                    </div>
                    <div class="space32"></div>
  
  
                    <div class="sign-text">
                      <p>Don't have account yet? </p><a href="{% url 'signup_page' %}">Signup</a>
                    </div>
                </div>
              </form>

              
          </div>
      </div>
  </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}