{% load static %}

<div class="mobile-header mobile-haeder3 d-block d-lg-none">
    <div class="container-fluid">
      <div class="col-12">
        <div class="mobile-header-elements">
          <div class="mobile-logo">
            <a href="{% url 'homepage' %}">
              <!-- <img src="{% static 'onboarding/assets/images/logo/logo1.png' %}" alt=""> -->
              <span style="color: #fff;">Bitwade</span>
            </a>
          </div>
          <div class="mobile-nav-icon dots-menu">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
  </div>