{% load static %}

<div class="mobile-header mobile-haeder3 d-block d-lg-none">
	<div class="container-fluid">
		<div class="col-12">
			<div class="mobile-header-elements">
				<div class="mobile-logo">

					<a href="{% url 'homepage' %}">
						<img class="desktop" width="200px" src="https://bixmerchant.com/static/onboarding/landing/assets/images/bix-logo-lg.png" alt="logo" />
					</a>

				</div>
				<div class="mobile-nav-icon dots-menu">
					<i class="fa-solid fa-bars"></i>
				</div>
			</div>
		</div>
	</div>
</div>