{% load static %}

<div class="mobile-sidebar mobile-sidebar3">
	<div class="logosicon-area">
		<div class="logos">
			<a href="{% url 'homepage' %}">
				<img class="desktop" width="200px" src="https://bixmerchant.com/static/onboarding/landing/assets/images/bix-logo-lg.png" alt="logo" />
			</a>
		</div>
		<div class="menu-close">
			<i class="fa-solid fa-xmark"></i>
		</div>
	</div>
	<div class="mobile-nav mobile-nav2">
		<ul class="mobile-nav-list nav-list2">

			<li><a href="{% url 'dashboard' %}">Dashboard</a></li>

			<li><a href="{% url 'show_all_payment_links' %}">My stores</a></li>

			<li><a href="{% url 'show_transactions' %}">Transactions</a></li>

			<li><a href="{% url 'show_all_invoices' %}">Invoices</a></li>

			<li><a href="{% url 'logout' %}">Logout</a></li>

		</ul>
	</div>
</div>