{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <a href="{% url 'choose_action' %}">Actions <i class="fa-solid fa-angle-right"></i> <span>Payment links</span></a>
                </div>
                <div class="space50"></div>

                {% if payment_links %}
                        
                    {% for link in payment_links %}
                        <div class="login-boxarea heading6">
                            <div>
                                <p>Payment ID: {{ link.link_id }}</p>
                                <div class="space16"></div>
                                <p>Tag name: {{ link.tag_name }}</p>
                                <div class="space16"></div>
                                <p>Crypto: {{ link.crypto }}</p>
                                <div class="space16"></div>
                                <p>Recieving Wallet: {{ link.wallet }}</p>
                                <div class="space16"></div>
                                <!-- <a href="https://bitwade.com/pay/{{ link.link_id }}" target="_blank">bitwade.com/pay/{{ link.link_id }}</a> -->
                                <div class="space16"></div>
                                <a href="{% url 'payment_link' link_id=link.link_id %}" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">view link</a>

                                <!-- <a href="{% url 'payment_link' link_id=link.link_id %}" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">create invoice </a> -->
                            </div>
                        </div>
                        <div class="space16"></div>
                    {% endfor %}
                    
                {% else %}
                    <p>You haven't created any payment links yet.</p>
                {% endif %}

                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}