{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="container">

        <div class="about-welcome-header text-center heading3">
            <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-angle-right"></i> <span>Store links</span></a>
            <div class="space16"></div>
            <div class="welcome-btnarea text-center">
                <a href="{% url 'create_payment_link' %}" class="header-btn">New store</a>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}

            <div id="notify" class="alert alert-info">{{ message }}</div>
            <script>
                // Get the element you want to disappear
                const element = document.getElementById('notify');

                // Set a timeout to hide the element after 3 seconds
                setTimeout(function() {
                element.style.display = 'none';
                }, 5000);
            </script>

            {% endfor %}
        {% endif %}

        <div class="space50"></div>

        <div class="row">

            {% for link in payment_links %}

                <div class="col-lg-4">
                    <div class="login-boxarea heading6">
                        <div>
                            <p>Store ID: {{ link.link_id }}</p>
                            <div class="space16"></div>
                            <p>Store Name: {{ link.tag_name }}</p>
                            <div class="space16"></div>
                            <p>Store URL: <a href="https://{{ link.link_url }}" target="_blank">{{ link.link_url }}</a></p>
                            <div class="space16"></div>
                            {% for wallet in link.wallet_set.all %}
                                <p>
                                    Crypto: {{ wallet.crypto }}
                                    <br>
                                    <span class="walletTag">{{ wallet.address }}</span>
                                </p>
                                <div class="space16"></div>
                                <script>
                                    var walletTagElements = document.querySelectorAll('.walletTag');
                                    walletTagElements.forEach(function(walletTagElement) {
                                        var walletTagText = walletTagElement.textContent;
                                        if (walletTagText.length > 10) {
                                            walletTagElement.textContent = walletTagText.substring(0, 20) + '...';
                                        }
                                    });
                                </script>
                            {% endfor %}

                            <hr>

                            <a href="{% url 'create_invoice_via_storelink' link_id=link.link_id %}" style="font-size: 16px; background: #1215df; color: #ffffff; padding: 10px; border-radius: 5px; margin: 5px;">generate invoice</a>

                            <a href="{% url 'edit_payment_link' link_id=link.link_id %}" style="font-size: 16px; background: #1215df; color: #ffffff; padding: 10px; border-radius: 5px; margin: 5px;">edit</a>

                            <a href="{% url 'delete_payment_link' link_id=link.link_id %}" style="font-size: 16px; background: #cc1313; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;" onclick="return confirm('Are you sure you want to delete this link?');">delete</a>

                        </div>
                    </div>
                    <div class="space16"></div>
                </div>

            {% empty %}
                <div class="text-center">
                    <p style="color: #fff; text-align: center;">You haven't created any payment links yet.</p>
                    <!-- <br>
                    <a href="{% url 'create_payment_link' %}" target="_blank" class="header-btn1">Create link</a> -->
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}