{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-angle-right"></i> <span>Payment links</span></a>
                    <div class="space16"></div>
                    <div class="welcome-btnarea text-center">
                        <a href="{% url 'create_payment_link' %}" class="header-btn">Create New link</a>
                      </div>
                </div>
                <div class="space50"></div>

                {% if messages %}
                    {% for message in messages %}

                    <div id="notify" class="alert alert-info">{{ message }}</div>
                    <script>
                        // Get the element you want to disappear
                        const element = document.getElementById('notify');

                        // Set a timeout to hide the element after 3 seconds
                        setTimeout(function() {
                        element.style.display = 'none';
                        }, 5000);
                    </script>

                    {% endfor %}
                {% endif %}

                {% if payment_links %}
                        
                    {% for link in payment_links %}
                        <div class="login-boxarea heading6">
                            <div>
                                <p>Payment ID: {{ link.link_id }}</p>
                                <div class="space16"></div>
                                <p>Business Name: {{ link.tag_name }}</p>
                                <div class="space16"></div>
                                <p>Crypto: {{ link.crypto }}</p>
                                <div class="space16"></div>
                                <p>Recieving Wallet: {{ link.wallet }}</p>
                                <div class="space16"></div>
                                <div class="space16"></div>

                                <a href="{% url 'show_payment_link' link_id=link.link_id %}" target="_blank" style="font-size: 16p; background: #000; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;">Share</a>

                                <a href="{% url 'edit_payment_link_wallet' link_id=link.link_id %}" style="font-size: 16p; background: #1215df; color: #ffffff; padding: 10px; border-radius: 5px; margin: 5px;">Edit</a>

                                <a href="{% url 'delete_payment_link' link_id=link.link_id %}" style="font-size: 16p; background: #cc1313; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;" onclick="return confirm('Are you sure you want to delete this link?');">Delete</a>

                            </div>
                        </div>
                        <div class="space16"></div>
                    {% endfor %}
                    
                {% else %}
                    <div class="text-center">
                        <p style="color: #fff; text-align: center;">You haven't created any payment links yet.</p>
                        <!-- <br>
                        <a href="{% url 'create_payment_link' %}" target="_blank" class="header-btn1">Create link</a> -->
                    </div>
                {% endif %}

                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}