{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<body style="background: #ffffff;">

<div class="about-welcome-section-area login" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
    <div class="space16"></div>

    <div class="about-welcome-header text-center heading3">
        <a href="{% url 'store_pos_page' link_id %}">POS Home <i class="fa-solid fa-angle-right"></i> <span>Transactions</span></a>
    </div>

    <div class="space16"></div>
    <div class="space16"></div>
    
    <div class="container" style="background-color: #fff; border-radius: 3px; padding: 10px;">

        <div class="space16"></div>

        <h5 class="text-center">Transactions</h5>

        <div class="space16"></div>
        
        <div class="">

          {% if transactions %}

            <table class="table table-bordered table-striped" style="font-size: 14px;">
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>Store</th>
                  <th>Status</th>
                  <th>Date</th>
                  <!-- <th>Details</th> -->
                </tr>
              </thead>
              <tbody>
                {% for transaction in transactions %}
                
                  <tr style="font-size: 12px;">
                      <td>${{ transaction.amount }}</td>

                      <td>{{ transaction.payment_link.tag_name }}</td>

                      {% if transaction.status == 'successful' %}
                          <td style="color: green;">✅</td>
                      {% else %}
                          <td style="color: red;">⏳</td>
                      {% endif %}
                      
                          <td>{{ transaction.created_at|date:"d-m-Y g:i a" }}</td>

                      <!-- {% if transaction.transaction_hash == None %}
                          <td>link unavailable</td>
                      {% else %}
                          <td>
                          <a href="{{ transaction.transaction_hash }}" target="_blank">view</a>
                          </td>
                      {% endif %} -->

                  </tr>
                  
                {% endfor %}
              </tbody>
            </table>
          {% else %}
              <div class="text-center">
                  <p style="color: #000; text-align: center; font-size: 16px;">You haven't made any transactions yet.</p>
              </div>
          {% endif %}

        </div>
      </div>

</div>

{% endblock %}