{% extends 'home/main.html' %}

{% load static %}

{% block content %}


{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<body style="background: #000;">

<!--===== WELCOME STARTS =======-->
<div class="about-welcome-section-area about2" style="background-image: url(/static/onboarding/assets/images/background/header2-bg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <h1>Pricing Plan</h1>
                    <div class="space16"></div>
                    <a href="index.html">Home <i class="fa-solid fa-angle-right"></i> <span>Pricing Plan</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


<!--===== PRICING PLAN AREA STARTS =======-->
<div class="pricing-paln-section-area pricing2 sp6 bg-none">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="pricing-header text-center heading6">
            <span class="seo">Pricing Plan</span>
            <!-- <div class="space16"></div>
            <h2 class="text-capitalize text-white"> Empower Your Success Unveiling Quad Flexible and Affordable Pricing Plans</h2> -->
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="pricing-plans">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <div class="plan-toggle-wrap">
                <div class="toggle-inner">
                  <input id="ce-toggle" checked="" type="checkbox">
                  <span class="custom-toggle"></span>
                  <span class="t-month text-white">Monthly</span>
                  <span class="t-year text-white">Annual</span>
                </div>
              </div>
              <div class="space40"></div>
            </div>
          </div>
          <div class="tab-content">
                <div id="monthly" style="display: block;">
                  <div class="row">
                    <div class="col-md-6 col-lg-4">
                      <div class="price-box">
                        <div class="hadding">
                          <div class="pricing-area">
                            <h3>Basic Plan</h3>
                            <div class="space24"></div>
                          <h2 class="pricing-heading">$99<span >/month</span></h2>
                          <div class="space16"></div>
                          <p>Ideal for individuals or small businesses looking to establish a solid online presence.</p>
                          <div class="space24"></div>
                            <div>
                              <a href="contact.html" class="header-btn2">Get Started </a>
                            </div>
                          </div>
                          <div class="price-list">
                            <ul>
                              <li><img src="assets/images/icons/check-icons4.svg" alt=""> Essential features to establish a solid online </li>
                              <li><img src="assets/images/icons/check-icons4.svg" alt=""> Keyword research, on-page optimisation</li>
                              <li><img src="assets/images/icons/check-icons4.svg" alt=""> Ideal for individuals and small businesses</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="price-box">
                        <div class="hadding">
                          <div class="pricing-area bg2">
                            <div class="popular">
                              <p>Most Popular</p>
                            </div>
                            <h3>Pro Plan</h3>
                            <div class="space24"></div>
                          <h2 class="pricing-heading">$149<span >/month</span></h2>
                          <div class="space16"></div>
                          <p>Ideal for individuals or small businesses looking to establish a solid online presence.</p>
                          <div class="space24"></div>
                            <div>
                              <a href="contact.html" class="header-btn2">Choose Pro </a>
                            </div>
                          </div>
                          <div class="price-list">
                            <ul>
                              <li><img src="assets/images/icons/check-icons4.svg" alt="">Competitor analysis for strategic insights</li>
                              <li><img src="assets/images/icons/check-icons4.svg" alt="">Backlink management for enhanced online </li>
                              <li><img src="assets/images/icons/check-icons4.svg" alt="">Real-time rank tracking for prompt </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="price-box">
                        <div class="hadding">
                          <div class="pricing-area">
                            <h3>Enterprise Plan</h3>
                            <div class="space24"></div>
                          <h2 class="pricing-heading">$199<span >/month</span></h2>
                          <div class="space16"></div>
                          <p>Ideal for individuals or small businesses looking to establish a solid online presence.</p>
                          <div class="space24"></div>
                            <div>
                              <a href="contact.html" class="header-btn2">Select Enterprise</a>
                            </div>
                          </div>
                          <div class="price-list">
                            <ul>
                              <li><img src="assets/images/icons/check-icons4.svg" alt="">Priority support for quick issue resolution</li>
                              <li><img src="assets/images/icons/check-icons4.svg" alt="">Enhanced analytics for deeper insights</li>
                              <li><img src="assets/images/icons/check-icons4.svg" alt="">Customization options for tailored solutions</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div id="yearly" style="display: none;">
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <div class="price-box">
                      <div class="hadding">
                        <div class="pricing-area">
                          <h3>Basic Plan</h3>
                          <div class="space24"></div>
                        <h2 class="pricing-heading">$399<span >/year</span></h2>
                        <div class="space16"></div>
                        <p>Ideal for individuals or small businesses looking to establish a solid online presence.</p>
                        <div class="space24"></div>
                          <div>
                            <a href="contact.html" class="header-btn2">Get Started </a>
                          </div>
                        </div>
                        <div class="price-list">
                          <ul>
                            <li><img src="assets/images/icons/check-icons4.svg" alt=""> Essential features to establish a solid online </li>
                            <li><img src="assets/images/icons/check-icons4.svg" alt=""> Keyword research, on-page optimisation</li>
                            <li><img src="assets/images/icons/check-icons4.svg" alt=""> Ideal for individuals and small businesses</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="price-box">
                      <div class="hadding">
                        <div class="pricing-area bg2">
                          <div class="popular">
                            <p>Most Popular</p>
                          </div>
                          <h3>Pro Plan</h3>
                          <div class="space24"></div>
                        <h2 class="pricing-heading">$599<span >/year</span></h2>
                        <div class="space16"></div>
                        <p>Ideal for individuals or small businesses looking to establish a solid online presence.</p>
                        <div class="space24"></div>
                          <div>
                            <a href="contact.html" class="header-btn2">Choose Pro </a>
                          </div>
                        </div>
                        <div class="price-list">
                          <ul>
                            <li><img src="assets/images/icons/check-icons4.svg" alt="">Competitor analysis for strategic insights</li>
                            <li><img src="assets/images/icons/check-icons4.svg" alt="">Backlink management for enhanced online </li>
                            <li><img src="assets/images/icons/check-icons4.svg" alt="">Real-time rank tracking for prompt </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="price-box">
                      <div class="hadding">
                        <div class="pricing-area">
                          <h3>Enterprise Plan</h3>
                          <div class="space24"></div>
                        <h2 class="pricing-heading">$999<span >/year</span></h2>
                        <div class="space16"></div>
                        <p>Ideal for individuals or small businesses looking to establish a solid online presence.</p>
                        <div class="space24"></div>
                          <div>
                            <a href="contact.html" class="header-btn2">Select Enterprise</a>
                          </div>
                        </div>
                        <div class="price-list">
                          <ul>
                            <li><img src="assets/images/icons/check-icons4.svg" alt="">Priority support for quick issue resolution</li>
                            <li><img src="assets/images/icons/check-icons4.svg" alt="">Enhanced analytics for deeper insights</li>
                            <li><img src="assets/images/icons/check-icons4.svg" alt="">Customization options for tailored solutions</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
  </div>
  <!--===== PRICING PLAN AREA ENDS =======-->

  {% include 'home/chat_token.html' %}

  {% endblock %}