{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<!-- {% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %} -->

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <span class="text-white">Payment Pending...</span>
                </div>
                <div class="space50"></div>
                <form action="{% url 'create_payment_save' %}" method="post">
                    {% csrf_token %}
                    <div class="login-boxarea heading6">


                        {% if messages %}
                            {% for message in messages %}

                            <div id="notify" class="alert alert-info">{{ message }}</div>
                            <script>
                                // Get the element you want to disappear
                                const element = document.getElementById('notify');

                                // Set a timeout to hide the element after 3 seconds
                                setTimeout(function() {
                                element.style.display = 'none';
                                }, 5000);
                            </script>

                            {% endfor %}
                        {% endif %}


                        <p>Create your own payment link. {{instance.link_id}}</p>
                        <p>wallet. {{instance.wallet}}</p>
                        <img src="{{ instance.qr_code_image.url }}" alt="QR Code">
                        <div class="space16"></div>
                        <div class="input-area">
                            <input type="text" name="wallet" placeholder="Prefered wallet Address">
                        </div>
                        <div class="space16"></div>
                        <div class="input-area">
                            <select name="crypto" id="" class="form-control">
                                <option value="">Select Crypto</option>
                                <option value="Bitcoin">Bitcoin</option>
                                <option value="Litecoin">Litecoin</option>
                                <option value="USDT TRC20">USDT TRC20</option>
                                <option value="Solana">Solana</option>
                            </select>
                        </div>
                        <div class="space24"></div>
                        <div class="input-area">
                            <input type="text" name="tag_name" placeholder="Tag name">
                        </div>
                        <div class="space32"></div>
                        <div class="input-area">
                            <button type="submit" class="header-btn2">Create link</button>
                        </div>
                        <div class="space32"></div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}