{% extends 'home/main.html' %}

{% load static %}

{% block content %}


<!--===== WELCOME STARTS =======-->


<!--===== WELCOME STARTS =======-->
<div class="about-welcome-section-area login" style="background-image: url('/static/onboarding/assets/images/background/emailbg.png'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <!-- <a href="index.html"><img src="assets/images/logo/logo4.png" alt="" class="logo4"></a>
                    <div class="space16"></div> -->
                    <a href="{% url 'homepage' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Forget Password</span></a>
                </div>

                {% if messages %}
                    {% for message in messages %}

                    <div id="notify" class="alert alert-info">{{ message }}</div>
                    <script>
                        // Get the element you want to disappear
                        const element = document.getElementById('notify');

                        // Set a timeout to hide the element after 3 seconds
                        setTimeout(function() {
                        element.style.display = 'none';
                        }, 5000);
                    </script>

                    {% endfor %}
                {% endif %}

                <div class="space16"></div>
                <div class="space16"></div>

                <form action="{% url 'reset_password' %}" method="post">

                    {% csrf_token %}
                    
                    <div class="login-boxarea heading6">
                        <div class="icons">
                            <img src="/static/onboarding/assets/images/icons/forget-svg.svg" alt="">
                        </div>
                        <div class="space32"></div>
                        <h4 class="text-center">Forgot Your Password?</h4>
                        <div class="space16"></div>
                        <p class="text-center">please enter your email below and we will send you a recovery link.</p>

                        <div class="space16"></div>
                        <div class="input-area">
                            <!-- <h4>Email</h4> -->
                            <div class="space16"></div>
                            <input type="email" name="email" placeholder="Email Address">
                        </div>
                        <div class="space32"></div>
                        <div class="input-area">
                            <button type="submit" class="header-btn2">Send Recovery Link</button>
                        </div>
                        <div class="space32"></div>
                        <div class="sign-text">
                            <p>Remember your password</p><a href="{% url 'login_page' %}">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}