{% extends 'home/main.html' %}

{% load static %}

{% block content %}


<!--===== WELCOME STARTS =======-->

<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                
                <div class="login-boxarea heading6">
                    <span>Complete your purchase</span>
                    <h3>
                        {% if transaction_details.link_logo %}
                            <img src="{{ transaction_details.link_logo.url }}" alt="" width="50px" height="50px" style="border-radius: 3px; border: 2px solid #000;">
                        {% else %}
                            <img src="/static/onboarding/assets/images/elements/store-checkout.png" alt="store-logo" width="50px">
                        {% endif %}
                        {{transaction_details.tag_name}}
                    </h3>
                    <hr>
                    <div class="space16"></div>
                    <div class="text-center">
                        
                        <h4 class="text-center" id="amount">${{transaction_details.amount}}</h4>
                        <hr>
                        <div class="space16"></div>
                        
                        <form action="{% url 'save_crypto_selection' transaction_details.transaction_id %}" method="post">
                            {% csrf_token %}
                            <div class="input-area">
                                <p style="font-size: 16px;">Select your preferred crypto:</p>
                                <select name="selected_crypto" id="" class="form-control">
                                    {% for crypto in available_cryptos %}
                                        <option value="{{ crypto }}">{{ crypto }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="space16"></div>
                            <div class="space16"></div>

                            <div class="input-area">
                                <button type="submit" class="header-btn2">proceed</button>
                            </div>
    
                        </form>
                    </div>

                    <div class="space50"></div>
                    <hr>
                    <p class="text-center" id="success_message" style="font-size: 16px;">powered by <a href="bitwade.com" target="_blank">bitwade.com</a></p>

                </div>
                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}