{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login"  >
    <div class="space16"></div>
    <div class="container">
        <div class="row">

            {% if messages %}
                {% for message in messages %}

                <center>
                    <p id="notify" class="alert alert-info" style="font-size: 12px;">{{ message }}</p>
                </center>
                
                <script>
                    // Get the element you want to disappear
                    const element = document.getElementById('notify');

                    // Set a timeout to hide the element after 3 seconds
                    setTimeout(function() {
                    element.style.display = 'none';
                    }, 5000);
                </script>

                {% endfor %}
            {% endif %}

            <div class="about-welcome-header text-center heading3">
                <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-angle-right"></i> <span>store view</span></a>
            </div>

            <div class="space16"></div>
            <div class="space16"></div>

            <div class="col-md-6 m-auto">
                <div class="price-box" style="background-color: #fff;">
                  <div class="">
                    <div class="pricing-area" style="padding: 20px; border-radius: 5px;">
                      <span style="font-size: 14px;">
                        {% if payment_link.link_logo %}
                          <img src="{{payment_link.link_logo.url}}" alt="" width="50px" height="50px">
                        {% endif %}
                        {{ payment_link.tag_name }} | {{ payment_link.link_id }}
                      </span>
                      <span style="float: right;">
                        <a href="{% url 'edit_payment_link' link_id=payment_link.link_id %}" style="font-size: 12px; color: #1f2ce2; padding: 10px; border-radius: 5px; margin: 5px;">edit</a>
                      </span>
                      <hr>
                      <div class="space16"></div>
                      <h3 style="font-size: 20px;">
                        <span style="font-weight: 400; font-size: 15px;">Amount Processed:</span> ${{ total_successful_payments }}
                      </h3>
                      <div class="space16"></div>
                      <div class="space16"></div>
                      <div class="" style="border: 2px solid #000; padding: 10px;">
                        <p style="font-size: 12px;">
                            Wallets:
                            <span style="float: right;">
                                <a href="{% url 'edit_payment_wallets' link_id=payment_link.link_id %}" style="font-size: 12px; color: #1f2ce2; padding: 10px; border-radius: 5px; margin: 5px;">edit wallets</a>
                            </span>
                        </p>
                        <hr>
                        <p style="font-size: 12px;">
                          {% for wallet in payment_link.wallet_set.all %}
                            {{ wallet.crypto }}: {{ wallet.address }} <br>
                          {% endfor %}
                        </p>
                      </div>

                      <div class="space16"></div>

                      <p  style="font-size: 12px;">API key: {{ payment_link.api_key }}</p>
                      <hr>

                      <div class="row">
                        
                        <div class="col text-center">
                            <a href="{% url 'store_pos_page' link_id=payment_link.link_id %}" target="_blank" style="font-size: 12px; color: #1f2ce2;">POS link</a>
                        </div>

                        <div class="col text-center">
                            <a href="{% url 'create_invoice_via_storelink' link_id=payment_link.link_id %}" style="font-size: 12px; color: #1f2ce2;">send invoice</a>
                        </div>

                        <div class="col text-center">
                            <a href="{% url 'delete_payment_link' link_id=payment_link.link_id %}" style="font-size: 12px; color: #1f2ce2;" onclick="return confirm('Are you sure you want to delete this link?');">delete</a>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


<div class="space16"></div>
<div class="space16"></div>
<div class="space16"></div>

{% endblock %}