{% extends 'home/main.html' %}

{% load static %}

{% block content %}


<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login" style="background-image: url('/static/onboarding/assets/images/background/emailbg.png'); background-repeat: no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 m-auto">
              <div class="about-welcome-header text-center heading3">
                  <!-- <a href="index.html"><img src="/static/onboarding/assets/images/logo/logo4.png" alt="" class="logo4"></a>
                  <div class="space16"></div> -->

                  <!-- <a href="{% url 'homepage' %}"><b>bitwade.com</b></a>
                  <div class="space16"></div> -->
                  <a href="{% url 'homepage' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Sign Up</span></a>
              </div>
              <div class="space50"></div>

              {% if messages %}
                    {% for message in messages %}

                    <div id="notify" class="alert alert-info">{{ message }}</div>
                    <script>
                        // Get the element you want to disappear
                        const element = document.getElementById('notify');

                        // Set a timeout to hide the element after 3 seconds
                        setTimeout(function() {
                        element.style.display = 'none';
                        }, 5000);
                    </script>

                    {% endfor %}
                {% endif %}

              <form method="post">
                {% csrf_token %}
                
                <div class="login-boxarea heading6">
                    {{ form.non_field_errors }}

                    <h4>Welcome to Bitwade</h4>

                    <div class="space16"></div>
                    <p>Reliable crypto payment gateway.</p>
                    
                    <hr>
                    <div class="space16"></div>
  
                    <div class="input-area">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="space32"></div>
                    <div class="input-area">
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                    <div class="space32"></div>

                    <div class="input-area">
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>

                    <div class="space32"></div>
                    <div class="input-area">
                        <button type="submit" class="header-btn2">Register</button>
                    </div>

                    <div class="space32"></div>
  
                    <div class="sign-text">
                        <p>Have account? </p><a href="{% url 'login_page' %}">Login</a>
                    </div>
                </div>
              </form>

              
          </div>
      </div>
  </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}