{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<body style="background: #ffffff;">

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login"  >
    <div class="space16"></div>
    <div class="container">
        <div class="row">

            <div class="about-welcome-header text-center heading3">
                <span style="color: #fff;">POS Home</span>
            </div>

            <div class="space16"></div>
            <div class="space16"></div>

            <div class="col-md-6 m-auto">
                <div class="price-box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: #fff;">
                  <div class="">
                    <div class="pricing-area" style="padding: 20px; border-radius: 5px;">
                      
                        <h3 style="font-size: 20px;">

                            {% if payment_link.link_logo %}
                            <img src="{{payment_link.link_logo.url}}" alt="" width="50px" height="50px">
                            {% endif %}
                            {{ payment_link.tag_name }}

                        </h3>

                        <hr>
                        <div class="space16"></div>

                        <h5 style="font-weight: 400;">Total balance: ${{ total_successful_payments }}</h5>

                        <div class="space16"></div>
                        
                        <div class="" style="border: 2px solid #000; padding: 10px;">
                            <p style="font-size: 16px;">
                                Availble Cryptos:
                                {% for wallet in payment_link.wallet_set.all %}
                                {{ wallet.crypto }} |
                                {% endfor %}
                            </p>
                        </div>

                        <div class="space16"></div>

                        <hr>

                        <div class="row">
                            
                            <div class="col text-center">
                                <div class="input-area">
                                    <a href="{% url 'pos_new_payment' link_id=payment_link.link_id %}" class="header-btn" style="font-weight: 400; font-size: 15px;">New payment</a>
                                </div>
                            </div>

                            <div class="col text-center">
                                <div class="input-area">
                                    <a href="{% url 'pos_transactions_page' link_id=payment_link.link_id %}" class="header-btn" style="font-weight: 400; font-size: 15px;">Transactions</a>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->



<div class="space16"></div>
<div class="space16"></div>
<div class="space16"></div>


{% endblock %}