{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<body style="background: #e4e1e1;">

<!--===== WELCOME STARTS =======-->
<div class="about-welcome-section-area login"  >
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                
                <div class="space50"></div>
                <div class="login-boxarea heading6">

                    <div class="space16"></div>
                    <div class="icons">
                        <img src="/static/onboarding/assets/images/icons/success_icon.png" alt="">
                    </div>

                    <div class="space32"></div>
                    <h2 class="text-center"> Invoice Paid! </h2>
                    <div class="space16"></div>                
                    
                    <p class="text-center">Merchant: {{ transaction_details.tag_name }}</p>

                    <p class="text-center">Amount: {{ transaction_details.amount }}</p>

                    <p class="text-center">TxID: {{ transaction_details.transaction_id }}</p>

                    <p class="text-center" id="success_message" style="font-size: 16px;"> <a href="{{ transaction_details.transaction_hash }}" target="_blank">view on blockchain</a></p>

                    <div class="space32"></div>
                    <div class="text-center">
                        <a class="header-btn" href="{{ transaction_details.success_url }}" target="_blank">Back to merchant</a>
                    </div>
                    
                </div>

                <div class="space16"></div>

                <p class="text-center text-white" id="success_message" style="font-size: 16px;">powered by <a href="bixmerchant.com" target="_blank">bixmerchant.com</a></p>

            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}