{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<div class="about-welcome-section-area login"  >
    <div class="space16"></div>
    <div class="container">

        <div class="about-welcome-header text-center heading3">
            <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-angle-right"></i> <span>Transactions</span></a>
            
        </div>

        <div class="row">

            {% if transactions %}
                {% for transaction in transactions %}

                    <div class="col-md-3">
                        <div class="space16"></div>
                        <div class="login-boxarea heading5">
                            <div>
                                {% if transaction.status == 'successful' %}
                                    <p class="text-center" style="color: green;">{{ transaction.status }} ✅</p>
                                {% else %}
                                    <p class="text-center" style="color: red;">{{ transaction.status }} ⏳</p>
                                {% endif %}
                                <hr>
                                <p>Date: {{ transaction.created_at }}</p>
                                <div class="space16"></div>
                                <p>Transaction ID: {{ transaction.transaction_id }}</p>
                                <div class="space16"></div>
                                <p>Via: {{ transaction.payment_link.tag_name }}</p>
                                <div class="space16"></div>
                                <p>Amount: {{ transaction.amount }}</p>
                                <div class="space16"></div>
                                <p>Crypto: {{ transaction.crypto_network }}</p>
                                <div class="space16"></div>
                                <hr>
                                {% if transaction.transaction_hash == None %}
                                    <p class="text-center" style="font-size: 16px;">link unavailable</p>
                                {% else %}
                                    <p class="text-center" style="font-size: 16px;"> <a href="{{ transaction.transaction_hash }}" target="_blank">view on blockchain</a></p>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                {% endfor %}

                {% else %}
                    <div class="text-center">
                        <p style="color: #fff; text-align: center;">You haven't made any transactions yet.</p>
                    </div>
                {% endif %}

        </div>
        
    </div>
</div>

{% endblock %}