{% extends 'home/main.html' %}

{% load static %}

{% block content %}


<!--===== WELCOME STARTS =======-->
<div class="about-welcome-section-area login"  >
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <a href="{% url 'homepage' %}"><b>bixmerchant.com</b></a>
                    <div class="space16"></div>
                    <a href="{% url 'homepage' %}">Home <i class="fa-solid fa-angle-right"></i> Login <i class="fa-solid fa-angle-right"></i> <span>Verify Email</span></a>
                </div>
                <div class="space50"></div>
                <div class="login-boxarea heading6">
                    <div class="icons">
                        <img src="/static/onboarding/assets/images/icons/email-img2.svg" alt="">
                    </div>
                    <div class="space32"></div>
                    <h2 class="text-center">Verify Your Email!</h2>
                    <div class="space16"></div>
                    <p class="text-center">We sent you a verification code via email. Please enter the code to verify your account</p>
                    <div class="space32"></div>

                    {% if messages %}
                        {% for message in messages %}

                        <div id="notify" class="alert alert-info">{{ message }}</div>
                        <script>
                            // Get the element you want to disappear
                            const element = document.getElementById('notify');

                            // Set a timeout to hide the element after 3 seconds
                            setTimeout(function() {
                            element.style.display = 'none';
                            }, 5000);
                        </script>

                        {% endfor %}
                    {% endif %}

                    
                    <!-- {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %} -->
                    

                    <form method="post" action="{% url 'email_verification' %}">
                        {% csrf_token %}
                        <div class="input-area">
                            <input type="text" name="otp" placeholder="Enter Code">
                            <div class="space16"></div>
                        </div>

                        <div class="input-area">
                            <button type="submit" class="header-btn2">Verifiy Email</button>
                        </div>
                        <div class="space32"></div>
                    </form>

                    <center>
                        <form method="post" action="{% url 'generate_otp' %}">
                            {% csrf_token %}
                            <button type="submit">Request New OTP</button>
                        </form>
                    </center>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->

{% endblock %}