{% extends 'home/main.html' %}

{% load static %}

{% block content %}


<!--===== WELCOME STARTS =======-->

<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">
                
                <div class="login-boxarea heading6">
                    
                    <h3>
                        {% if transaction_details.link_logo %}
                            <img src="{{ transaction_details.link_logo.url }}" alt="" width="50px" height="50px" style="border-radius: 3px; border: 2px solid #000;">
                        {% else %}
                            <img src="/static/onboarding/assets/images/elements/store-checkout.png" alt="store-logo" width="50px">
                        {% endif %}
                        {{transaction_details.tag_name}}
                    </h3>
                    <hr>
                    <div class="text-center">
                        
                        <!-- <h4 class="text-center" id="amount">${{transaction_details.amount}}</h4>
                        <hr> -->
                        
                        <form action="{% url 'save_confirm_email_for_receipt' transaction_details.transaction_id %}" method="post">

                            {% csrf_token %}

                            <p style="font-size: 16px;">Please confirm your email for receipt and refund processing.</p>
                            <div class="space16"></div>

                            <div class="input-area">
                                <input type="text" name="email" class="form-control" value="{{transaction_details.email}}" placeholder="confirm your email">

                                <div class="space16"></div>

                                <button type="submit" id="processing" class="header-btn2" >confirm</button>
                            </div>

                            <script>

                                var button = document.getElementById('processing');

                                button.addEventListener('click', function() {
                                    this.textContent = "confirming...";
                                });

                            </script>
    
                        </form>

                    </div>

                    <div class="space16"></div>

                    <hr>
                    <p class="text-center" id="success_message" style="font-size: 16px;">powered by <a href="bixmerchant.com" target="_blank">bixmerchant.com</a></p>

                </div>
                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->


{% endblock %}