{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<body style="background: #ffffff;">


<!--===== WELCOME STARTS =======-->

<div class="about-welcome-section-area login"  >
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">
                
                <div class="login-boxarea heading6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <h3>
                        {% if transaction_details.link_logo %}
                            <img src="{{ transaction_details.link_logo.url }}" alt="" width="50px" height="50px" style="border-radius: 3px; border: 2px solid #000;">
                        {% else %}
                            <img src="/static/onboarding/assets/images/elements/store-checkout.png" alt="store-logo" width="50px">
                        {% endif %}
                        {{transaction_details.tag_name}}
                    </h3>
                    
                    <hr>
                    <div class="text-center">
                        
                        <form action="{% url 'save_confirm_email_for_receipt' transaction_details.transaction_id %}" method="post">

                            {% csrf_token %}

                            <p style="font-size: 16px;">Please confirm your email for receipt and refund processing.</p>
                            <div class="space16"></div>

                            <div class="input-area">
                                <input type="text" name="email" class="form-control" value="{{transaction_details.email}}" placeholder="confirm your email">

                                <div class="space16"></div>

                                <button type="submit" id="processing" class="header-btn2" >continue</button>
                            </div>

                            <div class="space30"></div>

                            <script>

                                var button = document.getElementById('processing');

                                button.addEventListener('click', function() {
                                    this.textContent = "confirming...";
                                });

                            </script>
    
                        </form>

                    </div>

                    <div class="space16"></div>

                    <hr>

                    <!-- <div class="text-center" id="items_to_remove">
                        <a href="{% url 'cancel_transaction' transaction_details.transaction_id %}" id="items_to_remove" style="font-size: 12px; background: #cc1313; color: #fff; padding: 10px; border-radius: 5px; margin: 5px;" onclick="return confirm('Cancel Transaction ?');">cancel transaction</a>
                    </div> -->

                    <div class="text-center" id="items_to_remove">
                        <a href="{% url 'cancel_transaction' transaction_details.transaction_id %}" id="items_to_remove" style="color: #cc1313;" onclick="return confirm('Cancel Transaction ?');">x</a>
                    </div>

                </div>

                <div class="space16"></div>

                <p class="text-center" id="success_message" style="font-size: 16px; color: #000;">powered by <a href="bixmerchant.com" target="_blank">bixmerchant.com</a></p>
                
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->

{% endblock %}