{% extends 'home/main.html' %}

{% load static %}

{% block content %}


<!--===== WELCOME STARTS =======-->
<div class="about-welcome-section-area login" style="background-image: url(/static/onboarding/assets/images/background/emailbg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="about-welcome-header text-center heading3">
                    <a href="{% url 'homepage' %}"><b>Digit-Pay</b></a>
                    <div class="space16"></div>
                    <a href="{% url 'homepage' %}">Home <i class="fa-solid fa-angle-right"></i> Login <i class="fa-solid fa-angle-right"></i> <span>Verify Email</span></a>
                </div>
                <div class="space50"></div>
                <div class="login-boxarea heading6">
                    <div class="icons">
                        <img src="/static/onboarding/assets/images/icons/email-img2.svg" alt="">
                    </div>
                    <div class="space32"></div>
                    <h2 class="text-center">Verify Your Email!</h2>
                    <div class="space16"></div>
                    <p class="text-center">We sent you a verification code via email. Please <br> enter the code to verify your account<br> see it, please wait up to 5 mins or check your <br> SPAM folder.</p>
                    <div class="space32"></div>

                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <form method="post" action="{% url 'email_verification' %}">
                        {% csrf_token %}
                        <div class="input-area">
                            <input type="text" name="otp" placeholder="Your Name">
                            <div class="space16"></div>
                        </div>

                        <div class="input-area">
                            <button type="submit" class="header-btn2">Verifiy Email</button>
                        </div>
                        
                    </form>

                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->

{% endblock %}