{% extends 'home/main.html' %}

{% load static %}

{% block content %}

{% include 'home/navbar.html' %}
  
{% include 'home/mobile-nav.html' %}

{% include 'home/mobile-sidebar.html' %}

<!--===== WELCOME STARTS =======-->


<div class="about-welcome-section-area login"  >
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="space16"></div>
    <div class="container">
        <div class="row">

            {% if messages %}
                {% for message in messages %}

                <div id="notify" class="alert alert-info">{{ message }}</div>
                <script>
                    // Get the element you want to disappear
                    const element = document.getElementById('notify');

                    // Set a timeout to hide the element after 3 seconds
                    setTimeout(function() {
                    element.style.display = 'none';
                    }, 5000);
                </script>

                {% endfor %}
            {% endif %}

            <div class="about-welcome-header text-center heading3">
                <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-angle-right"></i> <span>Invoices</span></a>
                <div class="space16"></div>
                <div class="welcome-btnarea text-center">
                    <a href="{% url 'create_invoice' %}" class="header-btn">Create New invoice</a>
                </div>
            </div>
            <div class="space50"></div>
            
            {% if invoices %}

                {% for invoice in invoices %}

                    <div class="col-lg-4">
                        
                        <div class="login-boxarea heading6">
                            <div>
                                <p>Invoice ID: {{ invoice.invoice_id }}</p>
                                <div class="space16"></div>
                                <p>Recipient Email: {{ invoice.recipient_email }}</p>
                                <div class="space16"></div>
                                <p>Amount: {{ invoice.amount }}</p>
                                <div class="space16"></div>
                                <p>Item: {{ invoice.item }}</p>
                                <div class="space16"></div>
                                <p>Item Quantity: {{ invoice.item_quantity }}</p>
                                <div class="space16"></div>
                                <p>Due Date: {{ invoice.due_date }}</p>
                                <div class="space16"></div>
                                <p>Status: {{ invoice.status }}</p>
                                <div class="space16"></div>
                                <a href="{{ invoice.invoice_url }}" target="_blank" class="header-btn">invoice link</a>

                            </div>
                        </div>

                        <div class="space16"></div>
                        
                    </div>

                {% endfor %}

            {% else %}
                <div class="text-center">
                    <p style="color: #fff; text-align: center;">You haven't created any invoices yet.</p>
                    <!-- <br>
                    <a href="{% url 'create_invoice' %}" target="_blank" class="header-btn1">Create Invoice</a> -->
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!--===== WELCOME ENDS =======-->

{% include 'home/chat_token.html' %}

{% endblock %}