<footer class="footer style-2">
    <div class="container">
        <div class="footer__main">
            <div class="row">

                <div class="col-md-4">
                    <div class="info">
                        <a href="index.html" class="logo">
                            <img src="/static/onboarding/landing/assets/images/bix-logo-lg.png" alt="" width="200px" />
                        </a>
                        <ul class="list">
                            <li>
                                <p>
                                    Simplifying crypto payments for businesses and individuals
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="mail:support@bixmerchant.com">support@bixmerchant.com</a>
                                </p>
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-link">
                            <h6 class="title">PAGES</h6>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-link">
                            <h6 class="title">PAGES</h6>
                            <ul>
                                <li><a href="{% url 'signup_page' %}">Get Started</a></li>
                                <li><a href="{% url 'login_page' %}">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="footer__bottom">
            <p>
                ©2024 | bixmerchant.com | rights reserved.
            </p>
        </div>
    </div>
</footer>