{% extends 'landing/main.html' %}
{% load static %}

{% block content %}

{% include 'landing/nav.html' %}


<!-- Banner Top -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="banner__content">
					<h2 class="title">Payment With Crypto Made Easy</h2>
					<!-- <p class="fs-20 desc" style="font-size: 16px;">
					Expand your customer base and get paid globally our secure crypto payment gateway.
					</p> -->

					<p class="fs-20 desc" style="font-size: 16px;">
						Bixmerchant is the easiest payment gateway to pay for goods and services using cryptocurrency.
						Sign up and get started today.
					</p>

					<a href="{% url 'signup_page' %}" class="btn-action"><span>Get Started</span></a>
				</div>
				<div class="banner__image">
					<img src="/static/onboarding/landing/assets/images/layout/banner-03.png" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Top -->

<section class="services-2 bg" id="services" style="display: none;">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h3 class="heading">Why Choose Bixmerchant</h3>
				<p>
					We make it easy for you to start accepting cryptocurrency payments on your websites and stores. Our
					platform is easy to use and secure.
				</p>
			</div>
		</div>

		<br>
		<br>

		<div class="row">

			<div class="col-md-3">
				<div class="content" style="background-color: #fff; padding: 10px;">
					<img src="/static/onboarding/landing/assets/images/middle-man.png" alt="" width="80px">
					<br>
					<br>
					<h6 class="title">No Middle Man</h6>
					<p>
						Bixmerchant is a processor, all Payments Goes Directly to your wallet address. There
						Is No Intermediary.
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="content" style="background-color: #fff; padding: 10px;">
					<img src="/static/onboarding/landing/assets/images/fees.png" alt="" width="80px">
					<br>
					<br>
					<h6 class="title">Zero Commissions</h6>
					<p>
						Unlike other processors, we don't keep a percentage of your earnings. You get 100% of
						your earnings.
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="content" style="background-color: #fff; padding: 10px;">
					<img src="/static/onboarding/landing/assets/images/invoice.png" alt="" width="80px">
					<br>
					<br>
					<h6 class="title">Invoicing</h6>
					<p>
						Create, manage and send invoices with ease to your customers with our intergrated payment links.
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="content" style="background-color: #fff; padding: 10px;">
					<img src="/static/onboarding/landing/assets/images/pos-icon.png" alt="" width="80px">
					<br>
					<br>
					<h6 class="title">POS setup</h6>
					<p>
						Get a free POS link for your store or business. Accept payments in person with ease.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="services">
	<div class="container">
	  <div class="row">

		<div class="col-xl-6 col-md-12">
			<div class="block-text" data-aos="fade-up" data-aos-duration="1000">
			  <h3 class="heading">Why Choose Us</h3>
			  <p class="" style="text-align: justify;">
				We make it easy for you start accepting cryptocurrency payments on your websites and stores. Our
				platform is easy to use and secure.
			  </p>
			  <!-- <a href="{% url 'signup_page' %}" class="btn-action">Get Started</a> -->
			</div>
		  </div>

		<div class="col-xl-6 col-md-12">
		  <div class="services__main">
			<div class="services-box">
			  <div class="icon">
				<img src="/static/onboarding/landing/assets/images/middle-man.png" alt="" width="80px">
			  </div>
			  <a href="" class="h6 title">No Middle Man</a>
			  <p>
				Bixmerchant is a processor, all Payments Goes Directly to your wallet address. There Is No Intermediary.
			  </p>
			</div>

			<div class="services-box">
			  <div class="icon">
				<img src="/static/onboarding/landing/assets/images/fees.png" alt="" width="80px">
			  </div>
			  <a href="" class="h6 title">Zero Commissions</a>
			  <p>
				Unlike other processors, we don't keep a percentage of your earnings. You get 100% of your earnings.
			  </p>
			</div>
			<div class="services-box">
			  <div class="icon">
				<img src="/static/onboarding/landing/assets/images/invoice.png" alt="" width="80px">
			  </div>
			  <a href="" class="h6 title">Invoicing</a>
			  <p>
				Create, manage and send invoices with ease to your customers with our integrated payment links.
			  </p>
			</div>
		  </div>
		</div>
		
	  </div>
	</div>
</section>

<section class="trading">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6">
				<div class="trading__content" data-aos="fade-up" data-aos-duration="1000">
					<h3 class="heading">Setup in 3 easy steps</h3>
					<p class="desc fs-20">
						Start accepting cryptocurrency payments on your website or store in 3 easy steps.
					</p>

					<ul class="list-steps">
						<li>
							<img src="/static/onboarding/landing/assets/images/signup.png" alt="" />
							<div class="content">
								<p class="step">Step 1</p>
								<h6 class="title">Signup</h6>
								<p class="fs-16">
									Start Accepting Payments On Crypto By Simply Signing Up With Your Email And Password.
								</p>
							</div>
						</li>
						<li>
							<img src="/static/onboarding/landing/assets/images/store.png" alt="" />
							<div class="content">
								<p class="step">Step 2</p>
								<h6 class="title">Create Store</h6>
								<p class="fs-16">
									Link Your Web Store Or E-Commerce Website Using The Provided API Key Or You Can Use The POS Link To Start Receiving Payments In Your Physical Stores.
								</p>
							</div>
						</li>
						<li>
							<img src="/static/onboarding/landing/assets/images/icon/Wallet.png" alt="" />
							<div class="content">
								<p class="step">Step 3</p>
								<h6 class="title">Connect Wallet</h6>
								<p class="fs-16">
									Select The Crypto Currencies You Would Like To Receive Payments With And Add Wallet Addresses Respectively.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="trading__image">
					<img src="/static/onboarding/landing/assets/images/online-stores.png" alt="" />
				</div>
			</div>

		</div>
	</div>
</section>

<section class="counter-numbers" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block-text center">
					<h3 class="heading">The numbers don’t lie</h3>
					<p class="desc">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Faucibus mattis viverra ullamcorper cras viverra elementum
						donec.
					</p>
				</div>
				<div class="counter-main" data-aos="fade-up" data-aos-duration="1000">
					<img class="img" src="/static/onboarding/landing/assets/images/icon/icon-c1.png" alt="" />
					<img class="img" src="/static/onboarding/landing/assets/images/icon/icon-c2.png" alt="" />
					<img class="img" src="/static/onboarding/landing/assets/images/icon/icon-c3.png" alt="" />
					<img class="img" src="/static/onboarding/landing/assets/images/icon/icon-c4.png" alt="" />
					<ul class="list-counter counter-scroll">
						<li>
							<p class="title">
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M17 8.00068C16.7554 6.2409 15.9391 4.61034 14.6766 3.36018C13.4142 2.11001 11.7758 1.3096 10.0137 1.08224C8.25159 0.85487 6.46362 1.21316 4.9252 2.10193M1 2.00068V6.00068H5"
										stroke="#777E90" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path
										d="M1 10.001C1.24456 11.7608 2.06093 13.3913 3.32336 14.6415C4.58579 15.8916 6.22424 16.6921 7.98633 16.9194C9.74841 17.1468 11.5364 16.7885 13.0748 15.8997M17 16.001V12.001H13"
										stroke="#777E90" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
								Trades per day
							</p>
							<div class="number-content counter">
								<span class="timer count-number countup number" data-value="20">20</span>m+
							</div>
						</li>
						<li>
							<p class="title">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M21 15.9999V7.9999C20.9996 7.64918 20.9071 7.30471 20.7315 7.00106C20.556 6.69742 20.3037 6.44526 20 6.2699L13 2.2699C12.696 2.09437 12.3511 2.00195 12 2.00195C11.6489 2.00195 11.304 2.09437 11 2.2699L4 6.2699C3.69626 6.44526 3.44398 6.69742 3.26846 7.00106C3.09294 7.30471 3.00036 7.64918 3 7.9999V15.9999C3.00036 16.3506 3.09294 16.6951 3.26846 16.9987C3.44398 17.3024 3.69626 17.5545 4 17.7299L11 21.7299C11.304 21.9054 11.6489 21.9979 12 21.9979C12.3511 21.9979 12.696 21.9054 13 21.7299L20 17.7299C20.3037 17.5545 20.556 17.3024 20.7315 16.9987C20.9071 16.6951 20.9996 16.3506 21 15.9999Z"
										stroke="#777E90" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M7.5 4.20996L12 6.80996L16.5 4.20996" stroke="#777E90" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M7.5 19.79V14.6L3 12" stroke="#777E90" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M21 12L16.5 14.6V19.79" stroke="#777E90" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M3.27002 6.95996L12 12.01L20.73 6.95996" stroke="#777E90"
										stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
									<path d="M12 22.08V12" stroke="#777E90" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>

								Digital assests
							</p>
							<div class="number-content counter">
								<span class="timer count-number countup number" data-value="20">100</span>m+
							</div>
						</li>
						<li>
							<p class="title">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd"
										d="M7.87749 13.2061C4.03349 13.2061 0.750488 13.7871 0.750488 16.1151C0.750488 18.4421 4.01249 19.0451 7.87749 19.0451C11.7215 19.0451 15.0045 18.4631 15.0045 16.1361C15.0045 13.8091 11.7425 13.2061 7.87749 13.2061Z"
										stroke="#777E90" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path fill-rule="evenodd" clip-rule="evenodd"
										d="M7.87757 9.886C10.4136 9.886 12.4456 7.853 12.4456 5.318C12.4456 2.782 10.4136 0.75 7.87757 0.75C5.34257 0.75 3.30957 2.782 3.30957 5.318C3.30957 7.853 5.34257 9.886 7.87757 9.886Z"
										stroke="#777E90" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M17.2041 6.66895V10.6789" stroke="#777E90" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M19.2502 8.67383H15.1602" stroke="#777E90" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg>

								Happy users
							</p>
							<div class="number-content counter">
								<span class="timer count-number countup number" data-value="20">10</span>m+
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="testimonials-2" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-md-12 left">
				<div class="block-text center">
					<h3 class="heading">What our Customers say</h3>
					<p class="desc">
						Our customers from all over the world share their lovely words
						about us.
					</p>
				</div>

				<div class="swiper swiper-testimonial-2">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testimonials-box-2">
								<h6>“Trading crypto has never been so easy.”</h6>
								<p class="text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Mi non viverra eros purus. Turpis ac scelerisque blandit
									mauris ut senectus nibh. Pretium cras sit non at amet
									velit id in.
								</p>
								<div class="bottom">
									<div class="info">
										<img src="/static/onboarding/landing/assets/images/avt/use-01.png" alt="" />
										<div class="content">
											<h6 class="name">Marvin McKinney</h6>
											<p class="position">CEO of Startup</p>
										</div>
									</div>
									<img src="/static/onboarding/landing/assets/images/partner/logo-06.png" alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testimonials-box-2">
								<h6>“Trading crypto has never been so easy.”</h6>
								<p class="text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Mi non viverra eros purus. Turpis ac scelerisque blandit
									mauris ut senectus nibh. Pretium cras sit non at amet
									velit id in.
								</p>
								<div class="bottom">
									<div class="info">
										<img src="/static/onboarding/landing/assets/images/avt/use-02.png" alt="" />
										<div class="content">
											<h6 class="name">Marvin McKinney</h6>
											<p class="position">CEO of Startup</p>
										</div>
									</div>
									<img src="/static/onboarding/landing/assets/images/partner/logo-06.png" alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testimonials-box-2">
								<h6>“Trading crypto has never been so easy.”</h6>
								<p class="text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Mi non viverra eros purus. Turpis ac scelerisque blandit
									mauris ut senectus nibh. Pretium cras sit non at amet
									velit id in.
								</p>
								<div class="bottom">
									<div class="info">
										<img src="/static/onboarding/landing/assets/images/avt/use-03.png" alt="" />
										<div class="content">
											<h6 class="name">Marvin McKinney</h6>
											<p class="position">CEO of Startup</p>
										</div>
									</div>
									<img src="/static/onboarding/landing/assets/images/partner/logo-06.png" alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="testimonials-box-2">
								<h6>“Trading crypto has never been so easy.”</h6>
								<p class="text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Mi non viverra eros purus. Turpis ac scelerisque blandit
									mauris ut senectus nibh. Pretium cras sit non at amet
									velit id in.
								</p>
								<div class="bottom">
									<div class="info">
										<img src="/static/onboarding/landing/assets/images/avt/use-04.png" alt="" />
										<div class="content">
											<h6 class="name">Marvin McKinney</h6>
											<p class="position">CEO of Startup</p>
										</div>
									</div>
									<img src="/static/onboarding/landing/assets/images/partner/logo-06.png" alt="" />
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonials-box-2">
								<h6>“Trading crypto has never been so easy.”</h6>
								<p class="text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Mi non viverra eros purus. Turpis ac scelerisque blandit
									mauris ut senectus nibh. Pretium cras sit non at amet
									velit id in.
								</p>
								<div class="bottom">
									<div class="info">
										<img src="/static/onboarding/landing/assets/images/avt/use-05.png" alt="" />
										<div class="content">
											<h6 class="name">Marvin McKinney</h6>
											<p class="position">CEO of Startup</p>
										</div>
									</div>
									<img src="/static/onboarding/landing/assets/images/partner/logo-06.png" alt="" />
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonials-box-2">
								<h6>“Trading crypto has never been so easy.”</h6>
								<p class="text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Mi non viverra eros purus. Turpis ac scelerisque blandit
									mauris ut senectus nibh. Pretium cras sit non at amet
									velit id in.
								</p>
								<div class="bottom">
									<div class="info">
										<img src="/static/onboarding/landing/assets/images/avt/use-06.png" alt="" />
										<div class="content">
											<h6 class="name">Marvin McKinney</h6>
											<p class="position">CEO of Startup</p>
										</div>
									</div>
									<img src="/static/onboarding/landing/assets/images/partner/logo-06.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-button-next">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 12H19" stroke="#23262F" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" />
						<path d="M12 5L19 12L12 19" stroke="#23262F" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" />
					</svg>
				</div>
				<div class="swiper-button-prev">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 12L5 12" stroke="#23262F" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" />
						<path d="M12 19L5 12L12 5" stroke="#23262F" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" />
					</svg>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="col-xl-6 col-md-12">
				<div class="map-testimonial">
					<img class="map" src="/static/onboarding/landing/assets/images/layout/testimonials.png" alt="" />

					<div class="swiper swiper-thumb2">
						<div class="swiper-wrapper list-img">
							<div class="swiper-slide">
								<div>
									<img src="/static/onboarding/landing/assets/images/avt/use-01.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div><img src="/static/onboarding/landing/assets/images/avt/use-02.png" alt="" /></div>
							</div>
							<div class="swiper-slide">
								<div><img src="/static/onboarding/landing/assets/images/avt/use-03.png" alt="" /></div>
							</div>
							<div class="swiper-slide">
								<div><img src="/static/onboarding/landing/assets/images/avt/use-04.png" alt="" /></div>
							</div>
							<div class="swiper-slide">
								<div><img src="/static/onboarding/landing/assets/images/avt/use-05.png" alt="" /></div>
							</div>
							<div class="swiper-slide">
								<div><img src="/static/onboarding/landing/assets/images/avt/use-06.png" alt="" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="join">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-md-12">
				<div class="join__images">
					<img src="/static/onboarding/landing/assets/images/layout/join.png" alt="" />
				</div>
			</div>
			<div class="col-xl-6 col-md-12">
				<div class="join__content" data-aos="fade-up" data-aos-duration="1000">
					<h3 class="heading">A Payment gateway that works for you</h3>
					<p class="desc">
						Expand your customer base and get paid globally with our secure crypto payment gateway.
					</p>
					<a href="{% url 'signup_page' %}" class="btn-action">Get Started</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="blog-2" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block-text">
					<h3 class="heading">Learn And Earn</h3>
					<p class="desc">
						Stacks is a production-ready library of stackable <br />
						content blocks built in React Native.
					</p>

					<a href="#" class="btn-action-3">See all article</a>
				</div>
			</div>

			<div class="col-xl-6 col-md-12">
				<div class="blog-box s1">
					<div class="box-image">
						<img src="/static/onboarding/landing/assets/images/blog/blog-v2.1.png" alt="" />
						<div class="wrap-video">
							<a href="https://www.youtube.com/watch?v=i7EMACWuErA" class="popup-youtube">
								<svg width="13" height="16" viewBox="0 0 13 16" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M0.466675 2.92407C0.466675 1.35705 2.187 0.398733 3.51938 1.22354L11.7197 6.2999C12.9827 7.0818 12.9827 8.91907 11.7197 9.70096L3.51938 14.7773C2.187 15.6021 0.466675 14.6438 0.466675 13.0768V2.92407Z"
										fill="#777E90" />
								</svg>
							</a>
						</div>
					</div>

					<div class="box-content">
						<div class="left">
							<a href="#" class="category btn-action">learn & earn</a>
							<a href="" class="title">Learn about UI8 coin and earn an All-Access Pass</a>
							<p class="text fs-18">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Facilisi id vestibulum sem
							</p>
						</div>

						<div class="right">
							<a href="#" class="btn-action-3">Learn more</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-md-12">
				<div class="blog-main">
					<div class="blog-box">
						<div class="box-image">
							<img src="/static/onboarding/landing/assets/images/blog/blog-v2.2.png" alt="" />
							<div class="wrap-video">
								<a href="https://www.youtube.com/watch?v=i7EMACWuErA" class="popup-youtube">
									<svg width="13" height="16" viewBox="0 0 13 16" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M0.466675 2.92407C0.466675 1.35705 2.187 0.398733 3.51938 1.22354L11.7197 6.2999C12.9827 7.0818 12.9827 8.91907 11.7197 9.70096L3.51938 14.7773C2.187 15.6021 0.466675 14.6438 0.466675 13.0768V2.92407Z"
											fill="#777E90" />
									</svg>
								</a>
							</div>
						</div>

						<div class="box-content">
							<a href="#" class="category btn-action">learn & earn</a>
							<a href="" class="title">Learn about UI8 coin and earn an All-Access Pass</a>

							<p class="text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
					</div>
					<div class="blog-box">
						<div class="box-image">
							<img src="/static/onboarding/landing/assets/images/blog/blog-v2.3.png" alt="" />
							<div class="wrap-video">
								<a href="https://www.youtube.com/watch?v=i7EMACWuErA" class="popup-youtube">
									<svg width="13" height="16" viewBox="0 0 13 16" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M0.466675 2.92407C0.466675 1.35705 2.187 0.398733 3.51938 1.22354L11.7197 6.2999C12.9827 7.0818 12.9827 8.91907 11.7197 9.70096L3.51938 14.7773C2.187 15.6021 0.466675 14.6438 0.466675 13.0768V2.92407Z"
											fill="#777E90" />
									</svg>
								</a>
							</div>
						</div>

						<div class="box-content">
							<a href="#" class="category btn-action">learn & earn</a>
							<a href="" class="title">Learn about UI8 coin and earn an All-Access Pass</a>

							<p class="text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
					</div>
					<div class="blog-box">
						<div class="box-image">
							<img src="/static/onboarding/landing/assets/images/blog/blog-v2.4.png" alt="" />
							<div class="wrap-video">
								<a href="https://www.youtube.com/watch?v=i7EMACWuErA" class="popup-youtube">
									<svg width="13" height="16" viewBox="0 0 13 16" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M0.466675 2.92407C0.466675 1.35705 2.187 0.398733 3.51938 1.22354L11.7197 6.2999C12.9827 7.0818 12.9827 8.91907 11.7197 9.70096L3.51938 14.7773C2.187 15.6021 0.466675 14.6438 0.466675 13.0768V2.92407Z"
											fill="#777E90" />
									</svg>
								</a>
							</div>
						</div>

						<div class="box-content">
							<a href="#" class="category btn-action">learn & earn</a>
							<a href="" class="title">Learn about UI8 coin and earn an All-Access Pass</a>

							<p class="text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'landing/footer.html' %}

{% endblock %}