{% load static %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bixmerchant | Payment With Crypto Made Easy</title>


        <!-- HTML Meta Tags -->
        <title>Bixmerchant | Payment With Crypto Made Easy</title>
        <meta name="description" content="">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://bixmerchant.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Bixmerchant | Payment With Crypto Made Easy">
        <meta property="og:description" content="">
        <meta property="og:image" content="">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="bixmerchant.com">
        <meta property="twitter:url" content="https://bixmerchant.com/">
        <meta name="twitter:title" content="Bixmerchant | Payment With Crypto Made Easy">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="/static/onboarding/landing/assets/images/og-home.png">

        <!-- Meta Tags Generated via https://www.opengraph.xyz -->

        <!-- Style CSS -->
        <link rel="stylesheet" href="/static/onboarding/landing/app/dist/app.css" />
        <link rel="stylesheet" href="/static/onboarding/landing/app/dist/magnific-popup.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <!-- End Style CSS -->

        <link rel="shortcut icon" href="/static/onboarding/landing/assets/images/bix-logo-sm.png" />
        <link rel="apple-touch-icon-precomposed" href="/static/onboarding/landing/assets/images/bix-logo-sm.png" />
    </head>

    <body class="body header-fixed home-3">

        {% block content %}




        {% endblock content %}


        <script src="/static/onboarding/landing/app/js/aos.js"></script>
        <script src="/static/onboarding/landing/app/js/jquery.min.js"></script>
        <script src="/static/onboarding/landing/app/js/jquery.easing.js"></script>
        <script src="/static/onboarding/landing/app/js/popper.min.js"></script>
        <script src="/static/onboarding/landing/app/js/bootstrap.min.js"></script>
        <script src="/static/onboarding/landing/app/js/app.js"></script>
        <script src="/static/onboarding/landing/app/js/jquery.peity.min.js"></script>
        <script src="/static/onboarding/landing/app/js/Chart.bundle.min.js"></script>
        <script src="/static/onboarding/landing/app/js/apexcharts.js"></script>
        <script src="/static/onboarding/landing/app/js/switchmode.js"></script>
        <script src="/static/onboarding/landing/app/js/jquery.magnific-popup.min.js"></script>

        <script src="/static/onboarding/landing/app/js/chart.js"></script>

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <script src="/static/onboarding/landing/app/js/swiper.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->


    </body>

</html>