<header id="header_main" class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="header__body d-flex justify-content-between">
					<div class="header__left">
						<div class="logo">

							<a href="{% url 'homepage' %}">
								<img class="desktop" width="200px" id="site-logo-lg" src="https://bixmerchant.com/static/onboarding/landing/assets/images/bix-logo-lg.png" alt="logo" style="display: none;" />

								<img class="mobile" width="70px" id="site-logo-sm" src="https://bixmerchant.com/static/onboarding/landing/assets/images/bix-logo-sm.png" alt="logo" style="display: none;" />
							</a>

							<script>
								function updateLogo() {
									const largeLogo = document.getElementById('site-logo-lg');
									const smallLogo = document.getElementById('site-logo-sm');

									if (window.innerWidth >= 768) {
										largeLogo.style.display = 'inline';
										smallLogo.style.display = 'none';
									} else {
										largeLogo.style.display = 'none';
										smallLogo.style.display = 'inline';
									}
								}
								updateLogo();
								window.addEventListener('resize', updateLogo);
							</script>

						</div>
						<div class="left__main">
							<nav id="main-nav" class="main-nav">
								<ul id="menu-primary-menu" class="menu">

									<li class="menu-item">
										<a href="{% url 'about_page' %}">About us </a>
									</li>

									<li class="menu-item">
										<a href="#services">Services </a>
									</li>

									<li class="menu-item">
										<a href="#">Support </a>
									</li>

									<li class="menu-item">
										<a href="https://documenter.getpostman.com/view/36647400/2sA3duHDhz" target="_blank">Docs </a>
									</li>

									<li class="menu-item">
										<a href="{% url 'signup_page' %}">Sign up </a>
									</li>

									<li class="menu-item">
										<a href="{% url 'login_page' %}">Login </a>
									</li>

								</ul>
							</nav>
							<!-- /#main-nav -->
						</div>
					</div>

					<div class="header__right">
						<div class="mobile-button"><span></span></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</header>